body{
    text-align: center;
}
img{
    width: 40px;
}
.diceToReroll{
    border: solid 3px red;
}
table{
    border: solid;
}
#playerDice{
    height: 85px;
    border: solid 10px #3a7eba;
}
button{
    margin: 10px;
}